# Node
node_modules/
npm-debug.log
yarn-error.log
backend\node_modules
frontend\node_modules
node_modules

# React
/build
/dist
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
